{% extends 'base.html' %}
{% block conteudo %}

<div class="album py-5">
    <div class="container">
        {% if posts %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for post in posts %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="overflow">
                        <div class="zoom slide">
                            {% if post.capa %}
                            <img src="{{ url('uploads/imagens/thumbs/'~post.capa) }}" class="card-img-top"
                                alt="{{ post.titulo }}">
                            {% else %}
                            <img src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?q=80&w=1888&auto=format&fit=crop"
                                class="card-img-top" alt="Imagem padrão">
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body bg-dark text-white">
                        <p class="card-text lead text-center">{{ resumirTexto(post.titulo, 20) }}</p>
                        <div class="d-flex justify-content-center">
                            <div class="btn-group">
                                <a href="{{url('post/'~post.categoria.slug~'/'~post.slug)}}"
                                    class="btn btn-light my-3">Votar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            Nenhum post cadastrado para exibir!
        </div>
        {% endif %}

    </div>
</div>


{% endblock %}