<div class="card bg-transparent border-secondary mb-4">
    <div class="card-header bg-dark text-white border-secondary fw-bold">
        <i class="fa-solid fa-crown me-2"></i> Concursos
    </div>
    <div class="card-body p-0">
        {% if categorias %}
        <ul class="list-group list-group-flush">
            {% for cat in categorias %}
            <li class="list-group-item bg-transparent border-secondary">
                <a href="{{url('categoria/'~cat.slug)}}"
                    class="text-decoration-none text-light d-flex justify-content-between align-items-center py-2"
                    title="{{cat.titulo}}">

                    <span>{{cat.titulo|raw}}</span>

                    <span class="badge text-bg-dark rounded-pill">
                        <i class="fa-solid fa-chevron-right fa-xs"></i>
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="p-3 text-secondary text-center">
            Nenhuma categoria encontrada.
        </div>
        {% endif %}
    </div>
</div>