{% extends "dashboard.html" %}

{% block conteudo %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{url('admin/dashboard')}}">
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{url('admin/ingressos/listar')}}">
                Votos
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ ingresso.id ? 'Atualizar' : 'Cadastrar' }}
        </li>
    </ol>
</nav>

{{ flash() }}

<div class="card border-0 shadow-sm">
    <div class="card-body">
        <form
            action="{{ ingresso.id ? url('admin/ingressos/editar/' ~ ingresso.id) : url('admin/ingressos/cadastrar') }}"
            method="POST" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="titulo" class="form-label">Nome</label>
                <input type="text" placeholder="Ex: 1000 Votos" name="titulo" id="titulo" value="{{ ingresso.titulo }}"
                    class="form-control">
            </div>

            <div class="mb-3">
                <label for="quantidade" class="form-label">Quantidade</label>
                <input title="Quantidade" placeholder="Ex: 1000" type="text" name="quantidade" id="quantidade"
                    value="{{ ingresso.quantidade ? formatarNumero(ingresso.quantidade) : '' }}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="valor" class="form-label">Valor</label>
                <input title="Valor" placeholder="Ex: Valor do pacote: 1.000,00" type="text" name="valor" id="valor"
                    value="{{ ingresso.valor ? formatarValor(ingresso.valor) : '' }}" class="form-control">
            </div>

            <div class="mb-3">
                <label for="taxa" class="form-label">Taxa</label>
                <input title="Taxa" placeholder="Ex: Taxa do pacote: 150,00" type="text" name="taxa" id="taxa"
                    value="{{ ingresso.taxa ? formatarValor(ingresso.taxa) : '' }}" class="form-control">
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select title="Status" class="form-select" name="status">
                            <option value="1" {{ ingresso.status=='1' ? 'selected' : '' }}>Ativo</option>
                            <option value="0" {{ ingresso.status=='0' ? 'selected' : '' }}>Inativo</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="d-grid">
                <input type="submit" class="btn btn-dark" value="{{ ingresso.id ? 'Atualizar' : 'Cadastrar' }}">
            </div>
        </form>
    </div>
</div>
{% endblock %}